* {
  font-family: 'Proza Libre', sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

.hidden {
  display: none;
}

header,
button {
  background-color: #4a2473;
}

header {
  padding: 0.8rem 0;
}

a,
button {
  color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.2rem;
  font-weight: 400;
}

.entries-link {
  font-size: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.entry-heading {
  font-size: 1.8rem;
}

.image-container,
.title-container,
.photo-container,
#title,
#photo-url,
#notes,
.preview-image {
  width: 100%;
  border-radius: 4px;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
}

#title,
#photo-url,
#notes {
  margin-top: 0.3rem;
  padding: 0.4rem;
  border: 1.5px solid rgb(182, 182, 182);
  outline-color: #4a2473;
}

img {
  object-fit: cover;
  height: 310px;
}

#title,
#photo-url {
  height: 32px;
}

#notes {
  height: 140px;
}

.title-container,
.photo-url-container,
.preview-image,
.notes-container {
  margin-bottom: 1.1rem;
}

.save-button-container {
  text-align: end;
}

button {
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  width: 72px;
  height: 38px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 3rem;
}

.entry-list h2 {
  margin: 1.4rem 0;
}

.entry-list p {
  line-height: 1.6rem;
  margin: 0;
}
